@model IList<UniversityDataBase.Models.Student>

<!DOCTYPE html>

<html>
<head>
    <title>All Students in University</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>
<body>
<h3>All students table</h3>
<div>
    <table class="main_table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Sex</th>
            <th>BirthDate</th>
            <th>Age</th>
            <th>Childs</th>
            <th>Award</th>
            <th>Group</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Sex)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Birth)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Child)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Award)
                </td>
                <td>
                    @Html.DisplayFor(model => item.GroupNum)
                </td>
                <td>
                    <a href="@Url.Action("Student", "Main", new {id = item.Id})">Edit</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<button class="main_button" onclick="document.location = '@Url.Action("Student", "Main",new {id = 0})'"> Add Student </button>
</body>
</html>