@model UniversityDataBase.Views.Main.Request12

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Request 12</title>
</head>
<body>
<h3>Request 12</h3>

<div>
    <h4>By Cafedra</h4>
    @using (Html.BeginForm("Req12_1", "Main", FormMethod.Post))
    {
        <div class="form">
 
            <div class="input_group">
                @Html.LabelFor(model => model.Cafedra, "The number of group")
                <div class="input_field">
                    @Html.DropDownListFor(model => model.Cafedra, ViewBag.cafedras as SelectList)
                </div>
            </div>
            <div class="input_group">
                @Html.LabelFor(model => model.Category1, "Category")
                <div class="input_field">
                    @Html.DropDownListFor(model => model.Category1, ViewBag.categories as SelectList)
                </div>
            </div>
            <input class="main_button" type="submit" value="Select" />
        </div>
    }
    <h4>By Faculty</h4>
    @using (Html.BeginForm("Req12_2", "Main", FormMethod.Post))
    {
        <div class="form">

            <div class="input_group">
                @Html.LabelFor(model => model.Faculty, "Category")
                <div class="input_field">
                    @Html.DropDownListFor(model => model.Faculty, ViewBag.faculties as SelectList)
                </div>
            </div>
            <div class="input_group">
                @Html.LabelFor(model => model.Category2, "Faculty")
                <div class="input_field">
                    @Html.DropDownListFor(model => model.Category2, ViewBag.categories as SelectList)
                </div>
            </div>
            <input class="main_button" type="submit" value="Select"/>
        </div>
    }
</div>
</body>
</html>